body {
  font-family: 'Inter', sans-serif;
}


.button {
  font-weight: 700;
  line-height: 24px;
  padding: 7px 8px;
  transition: all 0.2s;
  border-bottom: 2px solid #BF7506;
  background-color: #ffffff;
}
.button>img {
  margin-right: 4px;
}

.button:hover {
  color: #BF7506;
  transition: all .5s;
}

.link_bordered {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding: 5px 8px 4px;
  border: 1px solid #DD9C3C;
  border-radius: 4px;
}

.container {
  max-width: 870px;
  width: 100%;
  margin: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;

}

.nav-list {
  display: flex;
}
.nav-item {
  margin-right: 24px;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #BF7506;

}

.nav-link:hover {
  font-weight: 700;
}

.header {
  padding: 70px;
  font-weight: 700;
  color: #211b12;
}

.header_inner {
  display: flex;
}

.header_img-box {
  display: flex;
  width: 212px;
  height: 240px;
  margin-right: 27px;
  align-items: center;
  justify-content: center;
}
.header-img {
  
  width: 140%;
}


.header_title {
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -1.44px;
  margin-bottom: 8px;
}

.header_text {
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.48px;
  margin-bottom: 24px;

}
.header_text>span {
  color: #BF7506;
}
.header_bottom {
  display: flex;
}
.header_btm-socials {
  display: flex;
  margin-right: 55px;
}
.header_btm-soc {
  width: 40px;
  height: 40px;
}
.header_btm-link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 8px;
  margin-right: 8px;
  transition: all 0.2s;
}
.header_btm-link:last-child {
  margin-right: 0;
}
.header_btm-link:hover {
  scale: 1.2;
  transition: all .5s;
}




/* portfolio */

.portfolio {
  padding-bottom: 120px;
}

.portfolio_title {
  font-size: 48px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: -1.44px;
  color: #BF7506;
  margin-bottom: 32px;
}
.cards {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.card {
  max-width: 399px;
}
.card_img {
  max-width: 100%;
}
.card_content {
  padding: 16px 16px 0;
}
.card_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 135%;
  letter-spacing: -0.48px;
  color: #BF7506;
  margin-bottom: 8px;
}
.tegs {
  display: flex;
  margin-bottom: 16px;
}
.teg {
  margin-right: 4px;
}
.teg:last-child {
  margin-right: 0;
}

.card_text {
  line-height: 24px;
  margin-bottom: 17px;
}
.card_buttons {
  display: flex;

  gap: 25px;
}
.card_btn {

}

/* about */

.about {
  padding-bottom: 120px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.about_img-box {
  border-radius: 20px;
  overflow: hidden;
  margin-right: 20px;
}
.about_img {
  width: 100%;
}
.about_desc {
  max-width: 454px;
}
.desc_grit {
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.48px;
  margin-bottom: 4px;
}
.desc_name {
  font-size: 32px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: -0.96px;
  color: #BF7506;
  margin-bottom: 16px;
}
.desc_text {
  line-height: 150%;
  margin-bottom: 16px;
}
.desc_kdo {
  font-size: 24px;
  line-height: 150%; 
  color: #DD9C3C;
  margin-bottom: 16px;
}
.desc_can {
  font-size: 16px;
  line-height: 150%; 
  margin-bottom: 32px;
}
.desc_sign-box {
}
.about_skills {
}
.skils_text {
  font-size: 24px;
  font-weight: 700;
  line-height: 135%;
  letter-spacing: -0.48px;
  margin-bottom: 13px;
}
.skills_tags {
  display: flex;
}
.skills_tag {
  margin-right: 4px;
}
.skills_tag:last-child {
  margin-right: 0;
}


/* feedback */

.feedback {
  position: relative;
  padding-bottom: 167px;
}
.feedback_img {
  position: absolute;
  top: 8%;
  right: 0;
  width: 27%;
}
.feedback_inner {
  max-width: 435px;
  /* display: flex;
  flex-direction: column; */
margin: 0 auto;
  
}
.feedback_title {
  font-size: 32px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: -0.96px;
  margin-bottom: 25px;
}
.feedback_form {
  position: relative;
}
.input_group {
  position: relative;
  margin-bottom: 33px;
}
.input_group:last-child {
  margin-bottom: 24px;
}


.label {
  position: absolute;
  left: 16px;
  top: -9px;
  font-size: 16px;
  line-height: 150%;
  color: #83807C;
  background-color: #fff;
  padding: 0 8px;

}
.input {
  width: 100%;
  height: 56px;
  border: 3px solid #E0DEDC;
  border-radius: 4px;
}

.input-mess {
  height: 131px;
  resize: none;
}

.feedback_btn {
  display: flex;
  justify-content: flex-end;

}

/* footer */

.footer {
  margin-bottom: 16px;
}

.footer_text {
  padding-bottom: 16px;
text-align: center;
}

/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */

@media (max-width: 1024px) {
  .container {
    max-width: 750px;
  }
  .card {
    max-width: 360px;
  }
  .card_title {
    font-size: 22px;
  }
  .header_btm-socials {
    margin-right: 30px;
  }
  .card_content {
    padding: 12px 8px 0;
  }
  .feedback_img {
    width: 22%;
  }
}
@media (max-width: 800px) {
  .container {
    max-width: 550px;
  }
  .header_title {
    font-size: 36px;
  }
  .header_text {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .button {
    font-size: 12px;
    padding: 7px 4px;
  }
  .header_btm-socials {
    margin-right: 10px;
  }
  .header_btm-link {
    padding: 4px;
  }
  .portfolio_title {
    font-size: 36px;
  }
  .card_title {
    font-size: 16px;
  }
  .link_bordered {
    padding: 5px 4px 4px;
  }
  .card {
    max-width: 265px;
  }
  .content {
    flex-direction: column;
  }
  .about_img-box {
    width: 100%;
    height: 460px;
    margin: 0 0 20px;
  }
  .about_img {
    /* object-fit: fill; */
  }
  
  .feedback_img {
    display: none;
  }

}

@media (max-width: 660px) {
  .container {
    width: 90%;
  }
  .header {
    
    padding: 40px 0;
  }
  .header_bottom {
    flex-direction: column;
  }
  .header_btm-socials {
    margin-bottom: 8px;
  }
  .header_btn {
    display: block;
  }
  .cards {
    width: 100%;
    /* align-items: center; */

  }
  .card {
    width: 45%;
    display: block;
  }
  .card_content {
    padding: 8px 5px 0;
  }
  .tegs {
    flex-wrap: wrap;
  }
  .teg {
    margin: 0 2px 10px;
  }
  .skills_tags {
    flex-wrap: wrap;
  }
  .skills_tag {
    margin: 0 2px 10px;
  }
}

@media (max-width: 500px) {
  .navbar {
    flex-direction: column;
  }
  .navbar_imgbox {
    margin-bottom: 20px;
  }
  .header {
    padding: 20px 0;
  }
  .header_inner {
    align-items: center;
    flex-direction: column;
  }
  .header_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header_bottom {
    align-items: center;
  }
  .header_btm-socials {
    margin-right: 0;
  }
  .portfolio_title {
    font-size: 30px;
    margin-bottom: 24px;
  }
  .about_img-box {
    height: 390px;
  }

}

@media (max-width: 400px) {
  .nav-list {
    flex-direction: column;
    align-items: center;
    }
    .nav-item {
      margin: 0 0 10px;
    }
    .nav-item:last-child {
      margin: 0;
    }
    .portfolio_title {
      margin-bottom: 16px;
    }
    .cards {
      flex-direction: column;
    }
    .card {
      max-width: none;
      width: 100%;
      margin-bottom: 40px;
    }
    .card:last-child {
      margin-bottom: 0;
    }
    .about_img-box {
      height: 330px;
    }


}