body {
  font-family: 'Inter', sans-serif;
}


.button {
  font-weight: 700;
  line-height: 24px;
  padding: 7px 8px;
  gap: 4px;
  transition: all 0.2s;
  border-bottom: 2px solid #BF7506;
}

.container {
  max-width: 870px;
  width: 100%;
  margin: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;

}

.nav-list {
  display: flex;
}
.nav-item {
  margin-right: 24px;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #BF7506;

}

.nav-link:hover {
  font-weight: 700;
}

.header {
  padding: 70px;
  font-weight: 700;
  color: #211b12;
}

.header_inner {
  display: flex;
}

.header_img-box {
  width: 212px;
  height: 240px;
  margin-right: 27px;
}
.header-img {
  height: 100%;
  margin-left: -14px;
}


.header_title {
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -1.44px;
  margin-bottom: 8px;
}

.header_text {
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.48px;
  margin-bottom: 24px;

}
.header_text>span {
  color: #BF7506;
}
.header_bottom {
  display: flex;
}
.header_btm-socials {
  display: flex;
  margin-right: 55px;
}
.header_btm-soc {
  width: 40px;
  height: 40px;
}
.header_btm-link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 8px;
  margin-right: 8px;
  transition: all 0.2s;
}
.header_btm-link:last-child {
  margin-right: 0;
}
.header_btm-link:hover {
  scale: 1.2;
  transition: all .5s;
}

.header_btm-download {

}
.header_btm-download:hover {
  color: #BF7506;
  transition: all .5s;
}

/* portfolio */

.portfolio {
  padding-bottom: 120px;
}

.portfolio_title {
  font-size: 48px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: -1.44px;
  color: #BF7506;
  margin-bottom: 32px;
}
.cards {
  display: flex;
  justify-content: space-between;
}
.card {
  max-width: 399px;
}
.card_img {
}
.card_content {
  padding: 16px 16px 0 16px;
}
.card_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 135%;
  letter-spacing: -0.48px;
  color: #BF7506;
  margin-bottom: 8px;
}
.tegs {
  display: flex;
  gap: 4px;
  margin-bottom: 16px;
}
.teg {
}
.teg_link {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding: 5px 8px 4px;
  border: 1px solid #DD9C3C;
  border-radius: 4px;
}
.card_text {
  line-height: 24px;
  margin-bottom: 17px;
}
.card_buttons {
  display: flex;

  gap: 25px;
}
.card_btn {

}